@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff")
      format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Hide scrollbar */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Clash Display", sans-serif;
}
