@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff")
      format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 100s linear infinite;
}

body {
  font-family: "Clash Display", sans-serif;
}
