@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff")
      format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-out 0.5s both;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Clash Display", sans-serif;
}
